.form {
  width: 700px;
}

.form-fields {
  display: flex;
  flex-direction: column;

  .mat-form-field {
    margin-bottom: 10px;
  }
}

.title {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.mat-card-title {
  margin: 12px auto;
}
