<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{task.title}}</mat-card-title>
    <mat-card-subtitle>{{task.date.toDate() | date:"d MMMM, YYYY"}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>
      {{task.description}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button (click)="onDeleteTask()" mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="onEditTask()" mat-icon-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>