.mat-card {
  min-width: 400px;
  margin-bottom: 10px;
  .mat-card-actions {
    display: flex;
  }
}
.red {
  background: rgb(217 23 23 / 56%);
}

.yellow {
  background: rgb(229 229 26 / 58%);
}
.task-closed {
  background: #7e7e7e;
  text-decoration: line-through;
}

.example-margin {
  width: 20px;
  height: 30px;
}

.mat-checkbox {
  margin: 9px 12px 0 0;
  .mat-checkbox-frame {
    transform: scale(1.2);
  }
  .mat-checkbox-checked.mat-checkbox-background {
    transform: scale(1.2);
  }
}
