<mat-card [class.task-closed]="checked">
  <mat-card-title-group>
    <mat-card-title>{{task.title}}</mat-card-title>
    <mat-card-subtitle>{{task.date.toDate() | date:"d MMMM, YYYY"}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-actions align="end">
    <mat-checkbox color="primary" [(ngModel)]="checked"></mat-checkbox>
    <button [disabled]="checked" (click)="onViewTask()" mat-icon-button color="primary">
      <mat-icon>visibility</mat-icon>
    </button>
    <button [disabled]="checked" (click)="onEditTask()" mat-icon-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button [disabled]="checked" (click)="onDeleteTask()" mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>